.eff{
    overflow: hidden;
}
.landing{
    height: 100vh;
    position: relative;
    color: #fff;
}
.landing .navbar img{
    width: 55px;
    object-fit: cover;
}
.landing .info img{
    width: 150px;
    object-fit: cover;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: end !important;
}
.bg-video-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }
  video {
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
  }
  .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0.5);
    z-index: 2;
  }
.navbar{
    background: rgb(232,199,199);
    background: linear-gradient(100deg, rgba(232,199,199,1) 0%, rgba(32,67,84,1) 68%) !important;
    z-index: 7 !important;
}
 .nav-link {
    font-size: 19px;
    color: white;
    overflow: hidden !important;
    position: relative !important;
}
.nav-link.active{
    color: #ddd !important;
}
 .nav-link::before{
    content: "" ;
    background-color: #0c2533;
    width: 100%;
    position: absolute;
    height: 4px;
    bottom: 0;
    left: -100%;
    transition: 0.5s;
}
 .nav-link:hover::before{
    left: 0;
}
.nav-link:hover{
    color: white !important;
}
.landing .info{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
z-index: 6;

}
.info h1{
   color: #156d9a;
   font-weight: bold;
}
.info span{
    color: white;
}
.serv{
    padding: 50px 0px;
position: relative;
background-color: #fff;
}
.serv h1{
    text-align: center;
    padding-bottom: 20px;
}
.serv p{
    color: #666;
}
.serv img{
    width: 60%;
    object-fit: cover;
}
.servcard{
    display: block;
    text-align: center;
}
.projects {
    padding: 50px 0px;
position: relative;
background-color: #ececec;
}

.projects h1{
    text-align: center;
    padding-bottom: 20px;
}
.projects .container{
  display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap:40px
}
.projects .box{padding: 15px;
background-color: white;
box-shadow: 0 12px 20px 0 rgb(0 0 0 /13%),0 2px 4px 0 rgb(0 0 0 /12%);
position: relative;
overflow: hidden;
}
.projects .over-a{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.6);
    top: -100%;
    left: 0;
    transition: all 0.8s ease;
    z-index: 9;
    color: white;
    text-align: center;
    display: block;

    
}
.projects .over-a h3,a {
    z-index: 10;
    display: block;
}
.projects .over-a a {
    color: white !important;
    font-size: 17px;
}
.projects .box .image{position: relative;overflow: hidden; object-fit: cover;}
.projects .box .image::before{
content: "";
width: 0;
height: 0;
z-index: 2;
opacity: 0;
background-color: rgb(255 255 255/20%);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%)
}

.projects .box img{max-width: 100%;transition: 1s}
.projects .box .image:hover img{
transform:scale(1.1);
}
.projects .box:hover .over-a{
top: 0!important;
}
.about{
    padding: 50px 0px;
position: relative;
}
.about h1{
    text-align: center;
    padding-bottom: 20px;
}
.about p{
    font-size: 18px;
  color: #666;
    text-align: center;
}
/*Start Footer*/
.footer{
    padding: 20px 0;
    background-color:dimgrey;
    color: aliceblue;

}
.footer a{
    display: inline;
}
.footer h1,.footer h2{
      color: aliceblue;
}
.footer ul{
    list-style: none ;padding: 0
}
.footer ul li a{
     color: aliceblue !important;
    text-decoration: none
}
.footer ul li {margin-bottom: 15px}
.footer i{font-size: 25px;color:white;margin-right: 15px;transition: all .5s ease;
    cursor: pointer}
.footer ul li i{
    color:#47b2e4;
    font-size: 16px;
    }
.footer i:hover{color:cyan}
/*Copyright*/
.copy{
    background-color:dimgrey;
    color: aliceblue;padding: 20px ;
    text-align: center;
}
.copy h3{font-size: 20px}
/** to hide dots